/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  /* regular / 400 */
  font-family: expletusSans;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ExpletusSans-Regular.ttf);
}

@font-face {
  /* bold / 700 */
  font-family: expletusSans;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ExpletusSans-Bold.ttf);
}

li:first-of-type {
  padding: 1em;
  overflow: auto;
}

li:first-of-type h2 {
  /* JOUW CODE HIER */
  font-family: expletusSans;
  font-size: 1em;
  line-height: 1.4;
}

li:first-of-type p {
  /* JOUW CODE HIER */
  font-family: expletusSans;
  font-size: 1em;
  line-height: 1.5em;
}

/* hiermee selecteer je de eerste letter van de p in het eerste blokje */
li:first-of-type p::first-letter {
  /* JOUW CODE HIER */
  font-family: expletusSans;
  font-weight: bold;
  font-size: x-large;
}

/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: montserrat;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Montserrat-Thin.ttf);
}

/* hiermee selecteer je het tweede blokje */
li:nth-of-type(2) {
  /* custom properties voor tweede blokje */
  --color: hsl(0 0% 100%);
  --background: rgb(0 24 54);
  --shadow: Cyan;

  /* met onderstaande regels staat de tekst in het midden */
  /* en elk woord op een nieuwe regel */
  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
  text-align: center;

  background-color: var(--background);
}

li:nth-of-type(2) h2 {
  margin: 0;
  color: var(--color);

  /* JOUW CODE HIER */
  font-family: montserrat;
  font-size: 3em;
  color: var(--color);
  line-height: 1em;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 0 1em var(--shadow), 0 0 0.2em var(--shadow);
}

/******************************/
/* CODE VOOR HET DERDE BLOKJE */
/******************************/

/* JOUW @FONT-FACE CODE HIER */
@font-face {
  font-family: sairaCondensed;
  font-weight: 700;
  src: url(../fonts/Saira_Condensed-Bold.ttf);
}

li:nth-of-type(3) {
  /* custom properties voor derde blokje */
  --color: white;
  --background: rgb(230 127 138);
  --shadow: rgb(0 0 0 / 0.75);

  /* JOUW CODE HIER */
  background-color: var(--background);
  display: grid;
  grid-auto-columns: min-content;
  place-content: center;
  text-align: center;
}

li:nth-of-type(3) h2 {
  /* JOUW CODE HIER */
  font-family: sairaCondensed;
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
  color: var(--color);
  text-shadow: var(--shadow) 5px 2px 0px;
  letter-spacing: 5px;
  transform: skewY(-10deg);
}
